@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --font-heading: var(--font-geist-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
  --font-serif: Georgia, serif;
  --radius: 0.375rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
}

:root {
  --background: oklch(0.9898 0.0025 228.7832);
  --foreground: oklch(0.2007 0.0097 234.3114);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.2007 0.0097 234.3114);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.2007 0.0097 234.3114);
  --primary: oklch(0.6704 0.1369 235.2910);
  --primary-foreground: oklch(0.1613 0.0088 4.6340);
  --secondary: oklch(0.9499 0.0059 239.8215);
  --secondary-foreground: oklch(0.3012 0.0206 233.9510);
  --muted: oklch(0.9594 0.0042 236.4975);
  --muted-foreground: oklch(0.4809 0.0206 234.8977);
  --accent: oklch(0.9297 0.0342 235.8673);
  --accent-foreground: oklch(0.3028 0.0701 240.6234);
  --destructive: oklch(0.6207 0.2203 24.8903);
  --border: oklch(0.9004 0.0061 223.4622);
  --input: oklch(0.9197 0.0059 239.8250);
  --ring: oklch(0.6704 0.1369 235.2910);
  --chart-1: oklch(0.6704 0.1369 235.2910);
  --chart-2: oklch(0.5697 0.1245 260.6074);
  --chart-3: oklch(0.4691 0.0779 210.6043);
  --chart-4: oklch(0.8197 0.0909 285.6168);
  --chart-5: oklch(0.3690 0.0628 185.4061);
  --radius: 0.375rem;
  --sidebar: oklch(0.9594 0.0042 236.4975);
  --sidebar-foreground: oklch(0.2007 0.0097 234.3114);
  --sidebar-primary: oklch(0.6704 0.1369 235.2910);
  --sidebar-primary-foreground: oklch(0.1613 0.0088 4.6340);
  --sidebar-accent: oklch(0.9297 0.0342 235.8673);
  --sidebar-accent-foreground: oklch(0.3028 0.0701 240.6234);
  --sidebar-border: oklch(0.9004 0.0061 223.4622);
  --sidebar-ring: oklch(0.6704 0.1369 235.2910);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Inter, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: JetBrains Mono, monospace;
  --shadow-color: #4b575f;
  --shadow-opacity: 0.08;
  --shadow-blur: 12px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.04);
  --shadow-xs: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.04);
  --shadow-sm: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.08), 0px 1px 2px -1px hsl(204 11.7647% 33.3333% / 0.08);
  --shadow: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.08), 0px 1px 2px -1px hsl(204 11.7647% 33.3333% / 0.08);
  --shadow-md: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.08), 0px 2px 4px -1px hsl(204 11.7647% 33.3333% / 0.08);
  --shadow-lg: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.08), 0px 4px 6px -1px hsl(204 11.7647% 33.3333% / 0.08);
  --shadow-xl: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.08), 0px 8px 10px -1px hsl(204 11.7647% 33.3333% / 0.08);
  --shadow-2xl: 0px 2px 12px 0px hsl(204 11.7647% 33.3333% / 0.20);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1608 0.0053 219.8085);
  --foreground: oklch(0.9504 0.0042 236.4983);
  --card: oklch(0.2101 0.0073 229.2509);
  --card-foreground: oklch(0.9504 0.0042 236.4983);
  --popover: oklch(0.2407 0.0083 240.2250);
  --popover-foreground: oklch(0.9504 0.0042 236.4983);
  --primary: oklch(0.7706 0.1317 235.0531);
  --primary-foreground: oklch(0.1613 0.0088 4.6340);
  --secondary: oklch(0.2491 0.0082 240.2037);
  --secondary-foreground: oklch(0.8998 0.0102 238.5236);
  --muted: oklch(0.2308 0.0084 223.8325);
  --muted-foreground: oklch(0.6809 0.0199 232.6647);
  --accent: oklch(0.2806 0.0574 234.6902);
  --accent-foreground: oklch(0.8491 0.0763 235.8145);
  --destructive: oklch(0.6789 0.2096 21.9475);
  --border: oklch(0.3006 0.0100 229.2278);
  --input: oklch(0.3006 0.0100 229.2278);
  --ring: oklch(0.7706 0.1317 235.0531);
  --chart-1: oklch(0.7706 0.1317 235.0531);
  --chart-2: oklch(0.8496 0.0713 260.2767);
  --chart-3: oklch(0.8793 0.1029 210.2803);
  --chart-4: oklch(0.6704 0.0955 284.9229);
  --chart-5: oklch(0.8994 0.0816 185.2331);
  --sidebar: oklch(0.1883 0.0088 240.4110);
  --sidebar-foreground: oklch(0.9504 0.0042 236.4983);
  --sidebar-primary: oklch(0.7706 0.1317 235.0531);
  --sidebar-primary-foreground: oklch(0.1613 0.0088 4.6340);
  --sidebar-accent: oklch(0.2806 0.0574 234.6902);
  --sidebar-accent-foreground: oklch(0.8491 0.0763 235.8145);
  --sidebar-border: oklch(0.3006 0.0100 229.2278);
  --sidebar-ring: oklch(0.7706 0.1317 235.0531);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0.375rem;
  --font-sans: Segoe UI, Helvetica Neue, Helvetica, Lucida Grande, Arial, Ubuntu, Cantarell, Fira Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
  --shadow-color: #000000;
  --shadow-opacity: 0.35;
  --shadow-blur: 16px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.17);
  --shadow-xs: 0px 4px 16px 0px hsl(0 0% 0% / 0.17);
  --shadow-sm: 0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow: 0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 1px 2px -1px hsl(0 0% 0% / 0.35);
  --shadow-md: 0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 2px 4px -1px hsl(0 0% 0% / 0.35);
  --shadow-lg: 0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 4px 6px -1px hsl(0 0% 0% / 0.35);
  --shadow-xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.35), 0px 8px 10px -1px hsl(0 0% 0% / 0.35);
  --shadow-2xl: 0px 4px 16px 0px hsl(0 0% 0% / 0.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    @apply font-sans;
  }
}